spring:
  config:
    import:
      - optional:file:.env[.properties]
  mongodb:
    uri: ${MONGODB_URI}

server:
  port: ${SERVER_PORT}

management:
  health:
    mongodb:
      enabled: false

app:
  admin:
    password: admin
    allowed-user-ids: ""
